*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background-color: rgba(237, 243, 248, 1);
}
.container{
padding: 30px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: rgba(186, 66, 112, 1);
    color: white;
    padding: 12px 35px;
    border-radius: 50px;
    border: none;
}
.menu-btn{
    font-size: 24px;
    background-color: inherit;
    border: none;
    display: none;
}
.hero{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero h1{
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.55px;
    color: rgba(54, 83, 107, 1);
    width: 546px;
}
.easy{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.easy div h2{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    color: rgba(54, 83, 107, 1);
    margin-bottom: 20px;
}
.easy p{
    font-size: 15px;
    line-height: 28px;
    color: rgba(108, 130, 148, 1);
    width: 445px;
}
.ota-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 50px 0;
}
footer{
    background-color: rgba(27, 38, 47, 1);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}









@media(max-width:768px){
    header{
        padding: 30px;
    }
    nav{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .hero h1{
        width: 90%;
        text-align: center;
        font-size: 36px;
        line-height: 36px;
    }
    .hero img{
      width: 80%;
    }
    .easy{
        flex-direction: column;
        text-align: center;
    }
    .easy img{
width: 90%;
    }
    .easy p{
        width: 90%;
    }

    

    
}

